<!DOCTYPE html>
<html ng-app="myApp" ng-cloak>
  
<head>
  
  <style>[ng\:cloak], [ng-cloak], .ng-cloak{ display: none;}</style> 
  <!--The cloak feature above hides all Angular expressions until they are full loaded 
      so we don't momentarily see the {{}} around the expressions-->
  
  <base href="/client" target="_self"> 
  <!-- ^ added for pretty URLs in Angular (getting rid of the /#/) -->
  <!-- this is needed for setting base file path for css and js files below -->
  <!-- without this, refreshing the web page will not work -->
  
  <title>CraigsBooks</title>

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/sweetalert/dist/sweetalert.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Cardo" rel="stylesheet"> <!-- Google font -->
  <link rel="icon" type="image/x-icon" href="/favicon.ico?v=1" /> <!-- Book icon in tab -->
  
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/bower_components/sweetalert/dist/sweetalert-dev.js"></script>
  <script src="/bower_components/jquery-ui/jquery-ui.js"></script>
  <script src="/bower_components/tinymce/tinymce.min.js"></script>
  
  <script src="/app.js"></script>
  <script src="/controllers/books.js"></script>
  <script src="/controllers/review_sets.js"></script>
  <script src="/scripts/modal.js"></script>

</head>
  
<body id="body">
  
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">

        <a class="navbar-brand animated-hover" href="/"> 
          CraigsBooks 
        </a>
        
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
                data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
        <div class="input-group form-search">
            <input type="text" class="span2 search-input" placeholder=" Search Titles, Authors" ng-model="query">
            <a href="/books/search/{{query}}" class="btn btn-primary btn-sm search-btn" >
              <span class="glyphicon glyphicon-search"></span>
            </a>
            <!--
            <button class="btn btn-primary btn-sm search-btn" ng-click="go('/books/search/harry')">
              <span class="glyphicon glyphicon-search"></span>
            </button>
            -->
        </div> 
        
      </div>
      
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="animated-hover" href="/books/add">Add Book</a></li>
          <li><a class="animated-hover" href="/books">List Books</a></li>
          <li><a class="animated-hover" href="/books/writereviews">Write Review</a></li>
        </ul>
      </div><!-- /.nav-collapse -->
      
    </div>
    
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-12-lg div-body">
        <div ng-view>
          <!-- Current page populates in here! -->
        </div>
      </div>
    </div>
  </div><!-- /.container -->
	
  <footer class="footer">
    <div class="container" col-lg-12 style="text-align: center;" ng-controller="BooksController">
      <a class="footer-links" href="/books/about">About</a>
      <a class="footer-links" href="/books/contact">Contact</a>
      <a class="footer-links" href="/books/legal">Legal</a>
      <a class="footer-links" href="#" ng-click="adminLogin()">Admins</a>
      <a class="footer-links" href="/books/admins" ng-show="IsAdmin==true">Admin Console</a>
      {{IsAdmin}}
    </div>
  </footer>
  
</body>
  
<!-- List of things to do
1) make it so hitting enter in the search bar will execute the search
*2) implement a max length requirement on all text fields, and disable/enable the submit/save button accordingly (form validation). Title<150, Author<100, Pages<5, Description<1000
*3) add box shadows to elements for depth
4) make 10 or 20 results per page, give paging/navigation buttons OR only load in 20 results, then on scroll down load more
5) highlight text in search results that matches the query
6) add Book Reviews model and views and controllers and add array of id's corresponding to a review that are associated with each book. Also display these reviews on the details pages. Also update the Home page to show the most recent 3-5 reviews.
7) add admin account with password validation. Add ability to change password from an admin console (which is obviously only visible if you are logged in).
8) make the Edit/Delete links visible only if you are logged in as an admin
9) make site a bit more modern/stylish
-->
</html>