/* APPLY TO ALL TAGS */

a {
  font-family: 'Cardo', serif;
  font-weight: bold;
}

body {
  background-color: #124; /*#F2EFED; #E2E8F1; #FAEBD7*/
}

footer {
  /*position: fixed;
  height: 100px;
  bottom: 0;*/
  width: 100%;
  margin-bottom: 20px;
}

hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  margin-top: 10px;
  margin-bottom: 10px;
  width: 75%;
}

img {
  width: 100%;
  box-shadow: 3px 3px 9px rgba(0,0,0,0.5);
}


/* APPLY TO SPECIFIC CLASS */

.animated-hover {
  position: relative;
  color: #777;
  text-decoration: none;
}

.animated-hover:before {
  content: "";
  position: absolute;
  width: 80%;
  height: 1px;
  bottom: 0;
  left: 10%;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.animated-hover:hover {
  color: #777;
}

.animated-hover:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.btn {
  font-family: 'Cardo', serif;
}

.btn-primary {
  background-color: #358;
  border-color: #358;
}

.btn-primary:hover {
  color: #358;
  background-color: white;
}

.carousel{
  background-color: transparent;
  height: 300px;
}

.carousel-control.left {
  background-image: none;
}

.carousel-control.right {
  background-image: none;
}

.carousel-div{
  margin-bottom: 20px;
  width: 100%;
}

.carousel-indicators li {
  border: 1px solid black;
}

.carousel-indicators {
  bottom: -35px;
  background: white;
  left: 25%;
  width: 50%;
  height: 15px;
  margin-bottom: 0;
  margin-left: 0;
}

.carousel-indicators .active {
  background-color: #358;
  border-color: #358;
}

.carousel-inner {
  border: 2px solid #E9E9E9;
}

.carousel .item a > img{
  margin: 0 auto; /* Align slide image horizontally center */
  height: 300px;
  width: 225px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.custom-div-header {
  margin-left: 15px;
  margin-top: 10px;
}

.custom-icon {
  font-size: 18px;
}

.custom-img {
  
}

.custom-letter {
  color: #124;
  font-weight: bolder;
}

.custom-header {
  /*text-decoration: underline;*/
  font-family: 'Cardo', serif;
  font-size: 20px;
  margin-left: 10px;
}

.custom-h4 {
  font-family: 'Cardo', serif;
  margin-left: 20px;
  text-decoration: underline;
  margin-top: 15px;
}

.custom-h4-home {
  text-align: center;
  font-size: 20px;
}

.custom-p-about {
  margin-left: 48px;
  margin-right: 48px;
  margin-bottom: 15px;
  margin-top: 5px;
  padding-top: 5px;
  border-top: solid 1px #ccc;
}

.custom-p {
  margin-left: 48px;
  margin-right: 48px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.custom-select {
  height: 31px; 
  margin-bottom: 0px;
  font-family: 'Cardo', serif;
  font-size: 13px;
  padding-top: 5px;
}

.custom-thumbnail:nth-of-type(even) {
  float: right;
}

.div-authors-matching{
  width: 100%;
  text-align: center;
  font-family: 'Cardo', serif;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.div-body {
  min-width: 580px;
}

.div-book-reviews{
  margin: 0px 20px 0px 20px;
}

.div-genre-search {
  margin-top: 10px; 
  width: 100%; 
  height: 32px; 
  margin-bottom: 5px;  
}

.div-results {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 15px;
}

.div-results:nth-of-type(even) {
  background-color: #F2F2F2;
}

.div-results-details {
  font-family: 'Cardo', serif;
  font-size: 16px;
  padding-right: 0px;
}

.div-results-no-matches {
  font-family: 'Cardo', serif;
  font-size: 17px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.element-resize{
  height: 350px;
  margin-bottom: 10px;
}

.footer-links {
  color: #AAA;
  margin-left: 15px;
  margin-right: 15px;
}

.footer-links:hover {
  color: #EEE;
  text-decoration: none;
}

.footer-links:focus {
  color: #EEE;
  text-decoration: none;
}

.form-search {
  margin: 11px 0px 0px 15px;
  font-family: 'Cardo', serif;
  float: right;
  margin-right: 15px;
}

.glyphicon-book {
  font-size: 18px;
  color: #555;
}

.glyphicon-chevron-left{
  color: #444;
}

.glyphicon-chevron-right{
  color: #444;
}

.glyphicon-comment {
  color: #358;
  font-size: 18px;
  margin-right: 2px;
}

.glyphicon-heart-empty {
  color: #358; 
  font-size: 18px;
}

.glyphicon-option-vertical {
  color: seagreen;
}

.glyphicon-star {
  color: gold;
}

.glyphicon-star-empty {
  color: #777;;
}

.glyphicon-stats {
  color: #358;
  margin-right: 2px;

}

.glyphicon-time {
  color: #358;
  margin-right: 2px;

}

.input-password{
  
}

.list-group-item:nth-of-type(even) {
  background-color: #EEE;
}

.navbar-brand {
  height: 40px;
}

.navbar-default {
  background-color: #FFF;
  border-color: #FFF;
  border-radius: 0;
  min-width: 425px;
}

.navbar-nav > li > a {
  padding-bottom: 0px;
}

.navbar-default .navbar-nav > li > a {
  float: right;
}

.panel-default > .panel-heading {
  background-color: #E9E9E9; /*#337ab7; #CBA990;*/
  color: black;
  border: solid 1px #ddd;
  font-family: 'Cardo', serif;
  font-style: oblique;
  text-align: center;
}

.panel-title {
  font-size: 20px;
}

.search-btn {
  height: 26px;
  border-radius: 0px;
  vertical-align: top;
  padding-top: 4px;
}

.search-details {
  font-style: normal;
  margin-top: 10px;
}

.section-header {
  /*font-family: 'Cardo', serif;*/
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 15px;
  border-bottom: 1px solid #ccc;
}

.span-password {
  width: 150px;
  margin-bottom: 15px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.span-toggle-results {
  font-family: 'Cardo', serif;
  font-size: 15px;
  margin-left: 15px; 
}

.span2.search-input {
  width: 170px;
  height: 26px;
}

.thTitle {
  width: 125px;
}

.thReviewer {
  width: 125px;
}

.thumbnail {
  margin-bottom: 0px;
}

/* STYLE MODAL AND PAGE-WRAPPER */
#modal {
  opacity: 0;
  display: none;
  pointer-events: none;
  margin: 0 0 0 0;
  padding-left: 20px;
  padding-right: 20px;
}

.dialogIsOpen #modal {
  opacity: 1;
  display: block;
  pointer-events: auto;
  background-color:#fdfdfd;
  border-bottom: 1px solid #bbb;
}

#page-wrapper, #modal {
  transition: all 0.3s ease;
}

#page-wrapper {
  opacity: 1.0;
}

.dialogIsOpen #page-wrapper {
  /*-webkit-filter: blur(5px) grayscale(50%);
  -webkit-transform: scale(0.9);*/
  opacity: 0.5;
  
}

/* STYLE JQUERY MODAL */

.ui-dialog .ui-dialog-buttonpane button {
  /*background-color: #358;
  border: 1px solid #204d74;
  border-radius: 5px;
  color: white;
  float: left;
  font-family: 'Cardo', serif;
  padding: 10px 15px;
  margin-left: 20px;
  margin-top: 10px;*/
  display: none;
}

.ui-dialog .ui-dialog-buttonpane button:hover {
    /*background-color: white ;
    color: #358;
    border: 1px solid #204d74;*/
}

.ui-dialog-buttonpane {
  /*height: 60px;
  background-color: white;*/
  
  visibility: hidden;
}

.ui-dialog .ui-dialog-title {
  width: 100%;
}

.ui-dialog-titlebar-close{
  display: none;
}

.ui-widget-overlay {
  background: #222;
  opacity: 0.4;
  width: 100%;
  height: 100%;
}

.ui-widget-content.ui-widget {
  box-shadow:  0px 2px 16px rgba(0,0,0,0.4); /*3px 4px 15px rgba(0,0,0,0.5);*/
  padding: 0 0 0 0;
  height: 700px;
}

.ui-dialog .ui-dialog-titlebar {
  background-color: #f1f1f1;
  border: none;
  border-bottom: 1px solid #bbb;
  text-align: center;
  font-family: 'Cardo', serif;
  font-size: 18px;
  padding: 8px;
}


/* RESIZE ELEMENTS DYNAMICALLY */

@media (max-width: 1200px) {
  .element-resize {
    height: 280px;
  }
}

@media (max-width: 768px ) {
  .div-book-reviews {
    margin-left: 5px;
    margin-right: 5px;
  }
  .thTitle {
    width: 90px;
  }
  .thReviewer {
    width: 90px;
  }
}
