<div class="panel panel-default">
  
  <div class="panel-heading">
    <h2 class="panel-title">About CraigsBooks</h2>
  </div>
  
  <div class="panel-body">
    <div class="row">
      
      <div class="custom-div-header">
        <span class="glyphicon glyphicon-user custom-icon"></span>
        <span class="custom-header">The Man Behind the Code</span>
      </div>
      
      <p class="custom-p-about"> Hi! My name is Craig, creator of CraigsBooks. Please check out my <a target="_blank" href="https://www.linkedin.com/in/craig-pitcher-bb2693103">LinkedIn</a> and <a target="_blank" href="https://github.com/arbitraryusername">github</a> profiles. You can learn more about me and see some of my other cool projects!
      </p>
      
      <div class="custom-div-header">
        <span class="glyphicon glyphicon-save-file custom-icon"></span>
        <span class="custom-header">Source Code</span>
      </div>
      
      <p class="custom-p-about"> The source code to this web site (and other cool projects!) is available on my 
        <a target="_blank" href="https://github.com/arbitraryusername">github</a> profile. 
      </p>
      
      <div class="custom-div-header">
        <span class="glyphicon glyphicon-align-justify custom-icon"></span>
        <span class="custom-header">The Stack</span>
      </div>
      
      <p class="custom-p-about">
        This site is built on the <span class="custom-letter">MEAN</span> stack. 
        <span class="custom-letter">M</span>ongoDB is a NoSQL database that saves the data in binary JSON format. 
        <span class="custom-letter">E</span>xpressJS handles the routing to the Node.js server and sends data back to the browser. 
        <span class="custom-letter">A</span>ngularJS is a JavaScript framework that handles the front-end of the site. 
        <span class="custom-letter">N</span>ode.js is a JavaScript framework that acts as the web server for this site.
        All components of the MEAN stack are based in JavaScript and are free - which is totally awesome!
      </p>
      
      <div class="custom-div-header">
        <span class="glyphicon glyphicon-signal custom-icon"></span>
        <span class="custom-header">Web Technologies</span>
      </div>

      <div class="custom-p-about">
        In addition to Mongo/Express/Angular/Node, I have utilized many other cool web technologies!
        <ul>
          <li>Bootstrap - for styling, formatting, icons, buttons, and more!</li>
          <li>Mongoose - to create data models and write database queries</li>
          <li>Google Fonts API - <a target="_blank" href="https://fonts.google.com/specimen/Cardo">Cardo</a>
          </li>
          <li><a target="_blank" href="https://github.com/t4t5/sweetalert">Sweet Alert</a> 
              - the dialog box for deleting books and logging in
          </li>
        </ul>
      </div>

      <div class="custom-div-header">
        <span class="glyphicon glyphicon-info-sign custom-icon"></span>
        <span class="custom-header">Purpose</span>
      </div>
      
      <p class="custom-p-about">
        CraigsBooks was made for educational purposes and personal enrichment. I hope you have as much fun using this site as I had making it!
      </p>
      
    </div>
  </div>
  
</div>