<div class="panel panel-default">
  
  <div class="panel-heading">
    <h2 class="panel-title">Admin Console</h2>
  </div>
  
  <div class="panel-body">
    <div class="row">
     
      <div class="custom-div-header">
        <span class="glyphicon glyphicon-cog custom-icon"></span>
        <span class="custom-header">Update Admin Password</span>
      </div>
      
      <div class="custom-p-about">
      <table> 
        <tr>
          <td class="span-password">Old Password</td> 
          <td>
            <input type="password" class="input-password" style="margin-right: 10px;" 
                   ng-model="Pswd" ng-blur="IsPswdCorrect(Pswd)">
          </td>
          <td>
            <span id="oldPswdCheck" class="glyphicon glyphicon-ok" style="color: #449d44;"
                  ng-show="Pswd != null && IsPswdCorrect(Pswd)">
            </span>
            <span class="glyphicon glyphicon-remove" style="color: red"
                  ng-show="Pswd != null && Pswd.length != 0 && !IsPswdCorrect(Pswd)">
            </span>
          </td>
        </tr>
        <tr>
          <td class="span-password">New Password</td>
          <td><input type="password" ng-model="newPswd"></td>
          <td>
            <span id="oldPswdCheck" class="glyphicon glyphicon-ok" style="color: #449d44;"
                  ng-show="IsNewPswdValid(newPswd)">
            </span>
            <span class="glyphicon glyphicon-remove" style="color: red"
                  ng-show="newPswd != null && newPswd.length > 0 && !IsNewPswdValid(newPswd)">
            </span>
          </td>
        </tr>
        <tr>
          <td class="span-password">Confirm Password</td>
          <td><input type="password" ng-model="confirmPswd"></td>
          <td>
            <span id="newPswdCheck" class="glyphicon glyphicon-ok" style="color: #449d44;"
                  ng-show="IsNewPswdConfirmed(newPswd, confirmPswd)">
            </span>
            <span class="glyphicon glyphicon-remove" style="color: red"
                  ng-show="newPswd.length > 0 && confirmPswd.length > 0 && newPswd != confirmPswd">
            </span>
          </td>          
        </tr>
        <tr>
          <td></td>
          <td>
            <button class="btn btn-success" style="margin-top: 5px;" 
                    ng-disabled="!IsPswdCorrect(Pswd) || !IsNewPswdConfirmed(newPswd, confirmPswd)"
                    ng-click="UpdateAdminPswd(newPswd)">
              Update
            </button>
          </td>
        </tr>
      </table>
      </div> 
      
      <div style="">
      </div>
      
      <div class="custom-div-header">
        <span class="glyphicon glyphicon-check custom-icon"></span>
        <span class="custom-header">Approve Added Books</span>
      </div>
      
      <p class="custom-p-about"> 
        --list of added books goes here--
      </p>
      
      <div class="custom-div-header">
        <span class="glyphicon glyphicon-edit custom-icon"></span>
        <span class="custom-header">Approve Edits to Books</span>
      </div>
      
      <p class="custom-p-about"> 
        --list of edited books goes here--
      </p>
    </div>
  </div>
  
</div>
