<div class="panel panel-default" ng-init="getBook()">
  
  <div class="panel-heading">
    <h3 class="panel-title">{{book.title}}</h3>
  </div>
  
  <div class="panel-body">
    <div class="row">
      
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <img src="{{book.image_url}}">
      </div>
      
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <p>{{book.description}}</p>
      </div>
      
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <ul class="list-group ">
          <li class="list-group-item">Author: {{book.author}}</li>
          <li class="list-group-item">Genre: {{book.genre}}</li>
          <li class="list-group-item">Publisher: {{book.publisher}}</li>
          <li class="list-group-item">Pages: {{book.pages}}</li>
          <li class="list-group-item">Views: {{book.view_count}}</li>
          <!--<li class="list-group-item">Date Added: {{book.create_date}}</li>-->
        </ul>

        <a target="_blank" href="{{book.buy_url}}" class="btn btn-success">
          Go Buy <span class="glyphicon glyphicon-share-alt"></span>
        </a>
        
        <div class="pull-right" style="padding-top: 12px;">
          <a href="/books/edit/{{book._id}}" style="color: #555;"> 
            <span class="glyphicon glyphicon-pencil"></span>
            Edit
          </a> 
          
          <a href="#" ng-click="deleteBookConfirmation(book._id)" 
             style="color: firebrick; margin-left: 5px;">
            <span class="glyphicon glyphicon-trash"></span>
            Delete
          </a>
        </div>
      </div>
    
    </div>
  </div>
</div>
