<div class="panel panel-default" ng-init="getBooks()">
  
  <div class="panel-heading" id="top">
    <h2 class="panel-title">Book Collection</h2>
  </div>
  
  <div class="panel-body">
    <div class="row">
      
      <div ng-repeat="book in books">
        
          <!-- book title and description -->
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-7 
                      col-lg-offset-0 col-md-offset-0 col-sm-offset-1 col-xs-offset-0 
                      element-resize">
            <h4 style="font-style: italic;">{{book.title}}</h4>
            <p>{{ book.description | limitTo: 200 }}{{book.description.length > 200 ? '...' : ''}}</p>
            <a class="btn btn-primary" href="/books/details/{{book._id}}"> More Details >> </a>
          </div>
          
          <!-- book cover image -->
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 element-resize"> 
    	     <img class="thumbnail element-resize" ng-src="{{book.image_url}}"> 
          </div>
        
      </div>
      
    </div>
    
    <div class="col-lg-12" style="width: 100%; text-align: center; padding-bottom: 0px;">
      <a href="/books#top">back to top</a>
    </div>
    
  </div>
</div>
