<div class="panel panel-default">
  
  <div class="panel-heading">
    <h2 class="panel-title">Contact</h2>
  </div>
  
  <div class="panel-body">
    <div class="row" style="text-align: center;">
      
      <p class="custom-p"> 
        Questions? Comments? Site not working? Feel free to contact me at <a>pitcher.craig@gmail.com</a> 
      </p>
      
    </div>
  </div>
  
</div>