<div class="panel panel-default" ng-init="getBooks()">
  
  <div class="panel-heading">
    <h2 class="panel-title">
      CraigsBooks Home
    </h2>
  </div>
  
  <div class="panel-body">
    
    <!-- Carousel row -->
    <div class="row">
      
      <h4 class="custom-h4-home">
        Favorite Books 
        <span class="glyphicon glyphicon-heart-empty"></span>
      </h4>
      
      <!-- Carousel -->
      <div class="carousel-div col-lg-12">
        <div id="myCarousel" data-ride="carousel"
             class="carousel slide col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
          
          <!-- Carousel indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>   
          
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
            <div class="item active">
              <a href="/books/details/580ec7968e92992bc440c78b">
                <img src="http://prodimage.images-bn.com/pimages/9780545790352_p0_v25_s1200x630.jpg" 
                     alt="First Slide" class="carousel-img">
              </a>
            </div>
            <div class="item">
              <a href="/books/details/580ec5f88e92992bc440c78a">
                <img src="http://prodimage.images-bn.com/pimages/9780545791328_p0_v3_s1200x630.jpg" 
                     alt="Second Slide" class="carousel-img">
              </a>
            </div>
            <div class="item">
                <a href="/books/details/580ed1858e92992bc440c78e">
                  <img src="http://prodimage.images-bn.com/pimages/9780545128285_p0_v5_s1200x630.jpg" 
                       alt="Third Slide" class="carousel-img">
                </a>
            </div>
          </div>
          
          <!-- Carousel controls -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
          
        </div>
      </div>
    </div>
    <!-- End:Carousel row -->    

    <div class="col-12-lg" style="height: 40px;"></div> <!-- vertical spacer -->

    <!-- Book Reviews row -->
    <div class="row div-book-reviews">
       
      <div class="section-header">
        <span class="glyphicon glyphicon-comment"></span>
        Recent Reviews
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th class="thTitle">Book Title</th>
            <th class="thReviewer">Reviewer</th>
            <th>Review</th>
            <th style="width: 105px;">Rating</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td>Harry Potter and the Cursed Child</td>
          <td>Alfred Chinsley</td>
          <td>This book-turned-play adaptation, though decorated with brief moments of gripping narrative, was a bit of a chore to read all the way through. The end is rewarding for those who can tolerate the somewhat obtuse roads taken to get there.
            <br>
            <small class="pull-right">
              <span class="glyphicon glyphicon-thumbs-up"></span> 5 found this helpful
            </small>
            
          </td>
          <td>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
          </td>
        </tr>
        <tr>
          <td>Parallel Worlds</td>
          <td>Craig Pitcher </td>
          <td>For those who love bending their minds around, over, and through the vast landscape of theoretical physics - this book is a must read. Kaku approaches some of the toughest to grasp subjects with a thoughtfully iterative approach. Parallel worlds will shatter your world view and give you no glue to put it back together.
            <br>
            <small class="pull-right">
              <span class="glyphicon glyphicon-thumbs-up"></span> 8 found this helpful
            </small>
          </td> 
          <td>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
          </td>
        </tr>
        <tr>
          <td>The Physics of Star Trek</td>
          <td>Captain Kirk of the Starship Enterprise</td>
          <td>This is a bit embarassing, but I have not actually read the book. I am just going to assume that <i>The Physics of Star Trek</i> is an attempt to discredit and dismantle my legacy by sighting alleged "facts" and "finding." Trust me, the warp drive on my ship is real, and I don't need Lawrenece Krauss or any other "physisist" to tell me otherwise.
            <br>
            <small class="pull-right">
              <span class="glyphicon glyphicon-thumbs-up"></span> 0 found this helpful
            </small>
          </td>
          <td>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
          </td>
        </tr>
        </tbody>
      </table>
        
    </div>
    <!-- End:Book Reviews row -->
    
    
    <!-- Most Viewed row -->
    <div class="row" style="margin: 0px 20px 15px 20px;">
      
      <div class="section-header">
        <span class="glyphicon glyphicon-stats"></span> 
        Most Viewed
      </div>

      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4" 
           style="margin-left: 0px; padding-left: 0px;"
           ng-repeat="book in books | orderBy:'view_count':true | limitTo: 6">

        <div style="height: 210px;">
          <a href="/books/details/{{book._id}}">
            <img class="thumbnail" ng-src="{{book.image_url}}" style="height: 210px; width: 140px;">
          </a>
        </div>

        <div style="text-align: left; padding-left: 5px;">
          <small> {{book.view_count}} views </small>
        </div>

      </div>
        
    </div>
    <!-- End:Most View row -->
    
    
    <!-- Recently Added row -->
    <div class="row" style="margin: 0px 20px 15px 20px;">
      
      <div class="section-header">
        <span class="glyphicon glyphicon-time"></span> 
        Recently Added
      </div>

      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4" 
           style="margin-left: 0px; padding-left: 0px;"
           ng-repeat="book in books | orderBy:'+':true | limitTo: 6">
        
        <div style="height: 210px;">
          <a href="/books/details/{{book._id}}">
            <img class="thumbnail" ng-src="{{book.image_url}}" style="height: 210px; width: 140px;">
          </a>
        </div>
        
        <div style="text-align: left; padding-left: 5px;">
          <small>{{book.title | limitTo: 19}}{{ book.title.length > 19 ? '...' : '' }}</small>
        </div>
      </div>
      
    </div>
    <!-- End Recently Added row -->
  </div>
  <!-- End:panel-body -->
</div>
