<div class="panel panel-default">
  
  <div class="panel-heading">
    <h2 class="panel-title">Legal</h2>
  </div>
  
  <div class="panel-body">
    <div class="row">
     
      <p class="custom-p"> 
        I have no affiliation with Barnes &amp; Nobel or any author/publisher listed on this site.
        The code and design of this website are free to use under the
        <a target="_blank" href="https://en.wikipedia.org/wiki/ISC_license">ISC license</a>. 
      </p>
      
    </div>
  </div>
  
</div>