<div class="panel panel-default" ng-init="getSearchResults()">
  
  <div class="panel-heading">
    <h3 class="panel-title">Search Results</h3>
  </div>
  
  <div class="panel-body" style="padding: 0px;">
    
    <!-- Toggle Title and Author Results and Search By Genre-->
    <div style="margin-top: 10px; margin-bottom: 5px; width: 100%; height: 32px;">
      
      <span class="span-toggle-results" ng-show="numTitles > 0"> Matching Titles </span> 
      <input type="checkbox" ng-model="showTitles" ng-show="numTitles > 0">
      <span class="span-toggle-results" ng-show="numAuthors > 0"> Matching Authors </span>
      <input type="checkbox" ng-model="showAuthors" ng-show="numAuthors > 0">

      <a class="btn btn-primary btn-sm pull-right" href="/books/searchgenre/{{genre}}" 
         style="margin-right: 10px;">
        <span class="glyphicon glyphicon-search"></span>
      </a>

      <div class="form-group pull-right">
        <select ng-model="genre" class="form-control custom-select">
          <option value="">all books in genre</option>
          <option value="Fantasy">Fantasy</option>
          <option value="NonFiction">NonFiction</option>
          <option value="Science">Science</option>
          <option value="Self-Help">Self-Help</option>
          <option value="Suspense">Suspense</option>
          <option value="Other">Other</option>
        </select>
      </div>
    </div>

    <!-- Apology Message For No Results Found -->
    <div ng-show="numTitles == 0 && numAuthors == 0">
      <div class="div-results-no-matches">
        Sorry, no matches For "{{currentRouteParams}}." Please try another search.
      </div>
      <br>
      <br>
    </div>
    
    <!-- Banner for "Err..." -->
    <div class="col-lg-12"
         ng-show="showTitles==false && showAuthors==false && (numTitles != 0 || numAuthors != 0)" >
        <hr style="margin-top: 0px;"/>
        <div class="div-authors-matching">Err...</div>
        <hr/>
    </div>

    <!-- Banner for "Titles Matching" -->
    <div ng-show="showTitles" class="ng-hide col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr style="margin-top: 0px;"/>
        <div class="div-authors-matching">Titles Matching "{{currentRouteParams}}"</div>
        <hr/>
    </div>
    
    <!-- Results -->
    <div class="row" style="width: 100%;">

      <!-- All Matching Titles -->
      <div id="MatchingTitles" ng-show="showTitles == true">
        <div class="div-results col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="book in books | limitTo : numTitles">

          <div class="div-results-details col-lg-2 col-md-2 col-sm-3 col-xs-3"> 
            <div ng-show="$index == 0">
              <div style="text-decoration: underline;">SEARCH DETAILS</div>
              <div>{{numTitles}} Titles Found</div>
              <div>{{numAuthors}} Authors Found </div>
            </div>
          </div>

          <div class="div-results-info">
            <!-- Book Cover Image -->
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
              <img class="thumbnail" ng-src="{{book.image_url}}">
            </div>

            <!-- Book Details -->
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-6">
              <h4>{{book.title}}</h4>
              <h5>Author: {{book.author}}</h5>
              <a class="btn btn-primary" href="/books/details/{{book._id}}"> More Details >> </a>
            </div>
          </div>

        </div> 
      </div>
      <!-- End:All Matching Titles -->


      <!-- Divider between Matching Titles and Matching Authors -->
      <div ng-show="showAuthors" class="ng-hide col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr style="margin-top: 0px;"/>
        <div class="div-authors-matching">Authors Matching "{{currentRouteParams}}"</div>
        <hr/>
      </div>
      <!-- End:Divider -->


      <!-- All Matching Authors -->
      <div id="MatchingAuthors" ng-show="showAuthors == true">
        <div class="div-results col-lg-12 col-md-12 col-sm-12 col-xs-12" 
             ng-repeat="book in books | limitTo : numAuthors : numTitles"> 

          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 div-results-details"> 
            <div ng-show="(numTitles == 0 || showTitles == false) && $index == 0">
              <div style="text-decoration: underline;">SEARCH DETAILS</div>
              <div>{{numTitles}} Titles Found</div>
              <div>{{numAuthors}} Authors Found </div>              
            </div>
          </div>

          <div class="div-results-info">
            <!-- Book Cover Image -->
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
              <img class="thumbnail" ng-src="{{book.image_url}}">
            </div>

            <!-- Book Details -->
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-6">
              <h4>{{book.title}}</h4>
              <h5>Author: {{book.author}}</h5>
              <a class="btn btn-primary" href="/books/details/{{book._id}}"> More Details >> </a>
            </div>
          </div>

        </div> 
      </div>
      <!-- End:All Matching Authors -->

    </div> <!-- End:Results -->
  </div> <!-- End:Panel Body -->
</div> <!-- End:Panel -->