<div class="panel panel-default" ng-init="getGenreResults()">
  
  <div class="panel-heading">
    <h3 class="panel-title">Search Results</h3>
  </div>
  
  <div class="panel-body" style="padding: 0px;">
    
    <!-- Search By Genre-->
    <div class="div-genre-search">
    
      <a class="btn btn-primary btn-sm pull-right" href="/books/searchgenre/{{genre}}" 
         style="margin-right: 10px;">
        <span class="glyphicon glyphicon-search"></span>
      </a>

      <div class="form-group pull-right">
        <select ng-model="genre" class="form-control custom-select">
          <option value="">all books in genre</option>
          <option value="Fantasy">Fantasy</option>
          <option value="NonFiction">NonFiction</option>
          <option value="Science">Science</option>
          <option value="Self-Help">Self-Help</option>
          <option value="Suspense">Suspense</option>
          <option value="Other">Other</option>
        </select>
      </div>
      
    </div>

    <!-- Apology Message For No Results Found -->
    <div ng-show="books.length == 0">
      <div class="div-results-no-matches">
        Sorry, therer are no books in genre "{{currentRouteParams}}." Please try another search.
      </div>
      <br>
      <br>
    </div>

    <!-- Banner -->
    <div ng-show="books.length > 0" class="col-xs-12" style="margin-top: -15px;">
        <hr/>
        <div class="div-authors-matching">
          {{books.length}} Books In Genre "{{currentRouteParams}}"
        </div>
        <hr/>
    </div>
    
    <!-- Results -->
    <div class="row" style="width: 100%;">
      <!-- All Matching Books -->
      <div class="div-results col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="book in books">

        <div class="div-results-info">
          
          <!-- Spacer -->
          <div class="col-xs-2">
          </div>
          
          <!-- Book Cover Image -->          
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
            <img class="thumbnail" ng-src="{{book.image_url}}">
          </div>

          <!-- Book Details -->
          <div class="col-lg-8 col-md-8 col-sm-7 col-xs-7">
            <h4>{{book.title}}</h4>
            <h5>Author: {{book.author}}</h5>
            <a class="btn btn-primary" href="/books/details/{{book._id}}"> More Details >> </a>
          </div>
        </div>

      </div> 
      <!-- End:All Matching Books -->

    </div> <!-- End:Results -->
  </div> <!-- End:Panel Body -->
</div> <!-- End:Panel -->