<script type="text/javascript">
  tinymce.init({
    selector: 'textarea',
    height: 300,
    menubar: false,
    plugins: [
      'advlist autolink lists link image charmap print preview anchor',
      'searchreplace visualblocks code fullscreen',
      'insertdatetime media table contextmenu paste code'
    ],
    toolbar: 'insert | styleselect | bold italic | alignleft aligncenter alignjustify | bullist numlist outdent indent | link'
  });
</script>

<div id="page-wrapper" class="panel panel-default"  ng-init="">
  
  <div class="panel-heading">
    <h2 class="panel-title">
      Write Book Reviews
    </h2>
  </div>
  
  <div class="panel-body">
  
    <div class="section-header">
      <span class="glyphicon glyphicon-user"></span>
      Reviewer Information
    </div>
    
    <form class="form-hoizontal" name="ReviewsForm" ng-submit="addReviewSet()">
      <div class="form-group col-xs-12" style="margin-top: 10px">
        <label class="control-label col-xs-3 col-md-2">Your Name</label>
        <div class="col-xs-9 col-md-6">
          <input class="form-control" type="text" ng-model="reviewset.reviewer_name">
        </div>
        <div class="col-xs-0 col-md-4">
        </div>
      </div>
      <div class="form-group col-xs-12">
        <label class="control-label col-xs-3 col-md-2">Your Email (optional)</label>
        <div class="col-xs-9 col-md-6">
          <input class="form-control" type="text" ng-model="reviewset.reviewer_email">
        </div>
        <div class="col-xs-0 col-md-4">
        </div>
      </div>
      
      <div class="section-header col-xs-12" style="padding-left: 0">
        <span class="glyphicon glyphicon-edit"></span>
        Your Reviews
      </div>
      
      <p>
        You may add multiple reviews. If you do not wish to use a Reviewer Alias, 
        your given name (above) will be shown along with each review.
      </p>
      
      <button type="button" class="btn btn-primary" onclick="ReviewModal()">
        Add Review
      </button>
      <br>

      <div ng-repeat="review in review_list | filter: { is_visible: 'yes' }"
           style="margin-top: 15px;">
        <div>Alias: {{review.reviewer_alias}}</div>
        <div>Book Title: {{review.book_title}}</div>
        <div>Book Rating: {{review.book_rating}}</div>
        <!--<div>Review Body: {{review.review_body}}</div>-->

        <div>
          <button class="btn btn-default" 
                  ng-click="editReview(review.review_id)">
            Edit Review
          </button>
          <button class="btn btn-default"
                  ng-click="deleteConfirmation(review.review_id)">
            Delete Review
          </button>
        </div>
      </div>
      
      <br>
      
      <button type="button" class="btn btn-primary" ng-disabled="!canSubmit()">
        Submit All
      </button>
      
    </form>
    
  </div> <!-- End panel body -->
  
</div> <!-- End panel default -->

<div id="modal">
  <div class="form-hoizontal" name="ReviewsForm" ng-submit="">

    <div class="form-group" style="padding: 10px 0 20px 0;">
      <label class="control-label col-xs-3">Your Alias (optional)</label>
      <div class="col-xs-9">
        <input class="form-control" type="textbox" 
               ng-model="myReview.reviewer_alias">
      </div>
    </div> 

    <div class="form-group" style="padding: 10px 0 20px 0;">
      <label class="control-label col-xs-3">Book Title</label>
      <div class="col-xs-9">
        <input class="form-control" type="text" ng-model="myReview.book_title">
      </div>
    </div>

    <div class="form-group" style="padding: 10px 0 20px 0;">
      <label class="control-label col-xs-3">Your Rating</label>
      <div class="col-xs-9">
        <input class="form-control" type="text" ng-model="myReview.book_rating">
      </div>
    </div>

    <div class="form-group" style="padding: 10px 0 20px 0;">
      <label class="control-label col-xs-12">Your Review</label>
      <div class="col-xs-12" style="margin-bottom: 10px;">
        <textarea> 
          <p>Type your book review herer.</p>
        </textarea> <!-- ng-model="myReview.review_body" -->
      </div>
    </div>

    <div class="form-group" style="padding: 0 0 5px 0;">
      <button type="button" class="btn btn-primary" ng-click="saveReview()">
        Save Review
      </button>
      <button type="button" class="btn btn-default" onclick="CloseModal()">
        Cancel
      </button>
    </div>

  </div>
</div>
